{% extends 'admin/base.html.twig' %}

{% block title %}Profile page{% endblock %}

{% block admintitle %}Profile page{% endblock %}

{%block main %}
  {% for flashSuccess in app.flashes('verification') %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ flashSuccess }}</strong>
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% for flashSuccess in app.flashes('password_changed') %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ flashSuccess }}</strong>
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% for flashSuccess in app.flashes('change_password_success') %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ flashSuccess }}</strong>
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% for flashSuccess in app.flashes('photo_changed') %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ flashSuccess }}</strong>
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {{ parent() }}
{% endblock %}
{% block admincontent %}
{% set user_role = '' %}
{% for role in user.getRoles()%}
  {% if role == 'ROLE_SUPERADMIN' %}
    {% set user_role = 'Superadmin' %}
  {% endif %}
  {% if (role == 'ROLE_ADMIN') and (user_role != 'Superadmin') %}
    {% set user_role = 'Admin' %}
  {% endif %}
  {% if (role == 'ROLE_USER') and (user_role != 'Admin') and (user_role != 'Superadmin') %}
    {% set user_role = 'User' %}
  {% endif %}
{% endfor %}
<div class="container emp-profile">
    <div class="row">
      <div class="col-lg-4 col-md-12 order-1 order-lg-1">
        <div class="profile-img">
          <img src="{{user.profilepicture}}" alt="Profile picture">
          {% if app.user and app.user.id == user.id %}
            {{ form_start(changeProfilePictureForm) }}
              <label class="file btn btn-lg btn-primary" for="change_profile_picture_form_profile_picture"><span class="glyphicon glyphicon-open"></span> Change</label>
              {{ form_widget(changeProfilePictureForm.profile_picture, {'attr': {'onchange': 'submitPhotoForm()', 'style': 'display:none;'}}) }}
            {{ form_end(changeProfilePictureForm) }}
          {% endif %}
        </div>
      </div>
      <div class="col-lg-6 col-md-12 order-3 order-lg-2">
        <div class="profile-head">
          <h5>
            {{user.username}}
          </h5>
          <h6>
            {{user.occupation}}
          </h6>
          <p class="profile-rating">RANKINGS : <span>8/10</span></p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" role="tab" aria-controls="profile" aria-selected="true">Personal informations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contributions-tab" data-bs-toggle="tab" data-bs-target="#contributions" role="tab" aria-controls="contributions" aria-selected="false">Contributions</a>
            </li>
            {% if is_granted('ROLE_ADMIN') and (user_role == 'Admin' or user_role == 'Superadmin') %}
            <li class="nav-item">
              <a class="nav-link" id="responsabilities-tab" data-bs-toggle="tab" data-bs-target="#responsabilities" role="tab" aria-controls="responsabilities" aria-selected="false">Responsabilities</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-12 order-2 order-lg-3">
        {% if app.user and app.user.id == user.id %}
        <input type="submit" id="change-password" class="profile-edit-btn" value="Modify Password">
        <a href="{{path('modify_password')}}" id="change-password-link" hidden></a>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 order-2 order-lg-1">
        <div class="profile-work">
          <p>ABOUT ME</p>
          <span class="profile-work-item"><a href="{{user.CV}}">CV</a>{% if app.user and app.user.id == user.id %}<a type="button" id="modifyCVButton" class="profile-work-item-icon change-cv" data-bs-toggle="modal" data-bs-target="#modifyCVModal"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %}</span><br>
          {% if app.user and app.user.id == user.id %}
          <div class="modal fade" id="modifyCVModal" tabindex="-1" aria-labelledby="modifyCVButton" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="questionModalLabel">Modify CV</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="CVForm" class="needs-validation" novalidate>
                    <div class="mb-3">
                      <div class="form-group">
                        <input type="file" class="form-control-file" id="cv" required>
                        <div id="cv_error" class="invalid-feedback">CV error message.</div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" form="CVForm" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          <span class="profile-work-item"><a href="#">Personal website</a>{% if app.user and app.user.id == user.id %}<!--<a class="profile-work-item-icon change-website" href="#"><span class="glyphicon glyphicon-pencil"></span></a>-->{% endif %}</span><br>
          <span class="profile-work-item"><a href="#">LinkedIn profile</a>{% if app.user and app.user.id == user.id %}<!--<a class="profile-work-item-icon change-linkedin-profile" href="#"><span class="glyphicon glyphicon-pencil"></span></a>-->{% endif %}</span>
          <p>SKILLS</p>
          <span class="profile-work-item"><a href="">Web Designer</a>{% if app.user and app.user.id == user.id %}<a class="profile-work-item-icon delete-skill" href="#"><span class="glyphicon glyphicon-trash"></span></a>{% endif %}</span><br>
          <span class="profile-work-item"><a href="">Web Developer</a>{% if app.user and app.user.id == user.id %}<a class="profile-work-item-icon delete-skill" href="#"><span class="glyphicon glyphicon-trash"></span></a>{% endif %}</span><br>
          <span class="profile-work-item"><a href="">WordPress</a>{% if app.user and app.user.id == user.id %}<a class="profile-work-item-icon delete-skill" href="#"><span class="glyphicon glyphicon-trash"></span></a>{% endif %}</span><br>
          <span class="profile-work-item"><a href="">WooCommerce</a>{% if app.user and app.user.id == user.id %}<a class="profile-work-item-icon delete-skill" href="#"><span class="glyphicon glyphicon-trash"></span></a>{% endif %}</span><br>
          <span class="profile-work-item"><a href="">PHP, .Net</a>{% if app.user and app.user.id == user.id %}<a class="profile-work-item-icon delete-skill" href="#"><span class="glyphicon glyphicon-trash"></span></a>{% endif %}</span><br>
          {% if app.user and app.user.id == user.id %}
          <span class="profile-work-item"><a type="button" id="skillButton" class="profile-work-item-icon add-skill" data-bs-toggle="modal" data-bs-target="#skillModal"><span class="glyphicon glyphicon-plus"></span></a></span><br>
          <div class="modal fade" id="skillModal" tabindex="-1" aria-labelledby="skillButton" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="questionModalLabel">New skill</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="skillForm" class="needs-validation" novalidate>
                    <div class="mb-3">
                      <label for="skill" class="form-label">Skill</label>
                      <select id="skill" class="form-select">
                        <option selected="" value="0">Skill 1</option>
                        <option value="1">Skill 2</option>
                        <option value="2">Skill 3</option>
                        <option value="3">Skill 4</option>
                      </select>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" form="skillForm" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-8 col-md-12 order-1 order-lg-2">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <label>Username</label>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p>{{user.username}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <label>Full Name</label>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p>{{user.firstname}} {{user.lastname}}{% if app.user and app.user.id == user.id %}<a type="button" id="modifyNameButton" class="modify-name form-button" data-bs-toggle="modal" data-bs-target="#modifyNameModal"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %}</p>
                {% if app.user and app.user.id == user.id %}
                <div class="modal fade" id="modifyNameModal" tabindex="-1" aria-labelledby="modifyNameButton" aria-modal="true" role="dialog">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="questionModalLabel">Modify Name</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form id="nameForm" class="needs-validation" novalidate>
                          <div class="mb-3">
                            <label for="first_name" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="first_name" required>
                            <div id="fist_name_error" class="invalid-feedback">First Name error message.</div>
                          </div>
                          <div class="mb-3">
                            <label for="last_name" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="last_name" required>
                            <div id="last_name_error" class="invalid-feedback">Last Name error message.</div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" form="nameForm" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <label>Email address</label>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p>{{user.email}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <label>Occupation</label>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <p>{{user.occupation}}{% if app.user and app.user.id == user.id %}<a type="button" id="modifyOccupationButton" class="modify-occupation form-button" data-bs-toggle="modal" data-bs-target="#modifyOccupationModal"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %}</p>
                {% if app.user and app.user.id == user.id %}
                <div class="modal fade" id="modifyOccupationModal" tabindex="-1" aria-labelledby="modifyOccupationButton" aria-modal="true" role="dialog">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="questionModalLabel">Modify Occupation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form id="occupationForm" class="needs-validation" novalidate>
                          <div class="mb-3">
                            <label for="occupation" class="form-label">Occupation</label>
                            <input type="text" class="form-control" id="occupation" required>
                            <div id="occupation_error" class="invalid-feedback">Occupation error message.</div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" form="occupationForm" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="contributions" role="tabpanel" aria-labelledby="contributions-tab">
            <div class="row">
              <div class="accordion" id="accordionFAQ">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headerAccordionFAQ">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneAccordionFAQ" aria-expanded="false" aria-controls="collapseOneAccordionFAQ">
                      Questions asked
                    </button>
                  </h2>
                  <div id="collapseOneAccordionFAQ" class="accordion-collapse collapse" aria-labelledby="headerAccordionFAQ" data-bs-parent="#accordionFAQ">
                    <div class="accordion-body">
                      <div class="row align-items-center pb-4">
                        <div class="col-lg-8 pb-2">
                          <h3>All Questions</h3>
                        </div>
                        <div class="col-lg-4">
                          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option selected="">Newest</option>
                            <option value="1">Votes</option>
                            <option value="2">Unanswered</option>
                          </select>
                        </div>
                      </div>
                      <div class="question-list">
                        <div class="media-card align-items-center">
                          <div class="votes">
                            <div class="vote-block d-flex align-items-center justify-content-between" title="Votes">
                              <span class="vote-counts up">0</span>
                              <span class="vote-icon"><span class="glyphicon glyphicon-thumbs-up"></span></span>
                            </div>
                            <div class="answer-block d-flex align-items-center justify-content-between" title="Answers">
                              <span class="vote-counts">0</span>
                              <span class="answer-icon"></span>
                            </div>
                          </div>
                          <div class="media-body">
                            <h5><a href="#">Question title</a></h5>
                            <small class="meta">
                              <span class="pr-1">1 hour ago</span>
                              <a href="#" class="author">User profile</a>
                            </small>
                            <div class="tags">
                              <a href="#" class="tag-link">FAQ 1</a>
                              <a href="#" class="tag-link">FAQ 2</a>
                              <a href="#" class="tag-link">FAQ 3</a>
                              <a href="#" class="tag-link">FAQ 4</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <br>
            </div>
            <!--<div class="row">
              <div class="accordion" id="accordionProposedProjects">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headerAccordionProposedProjects">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneAccordionProposedProjects" aria-expanded="false" aria-controls="collapseOneAccordionProposedProjects">
                      Proposed Projects
                    </button>
                  </h2>
                  <div id="collapseOneAccordionProposedProjects" class="accordion-collapse collapse" aria-labelledby="headerAccordionProposedProjects" data-bs-parent="#accordionProposedProjects">
                    <div class="accordion-body">
                      <div class="row align-items-center pb-4">
                        <div class="col-lg-3 pb-2">
                          <h3>All Projects</h3>
                        </div>
                        <div class="vote-explanation col-lg-6 pb-2">
                          <div class="vote-list">
                            <div class="vote-list-yes"></div>
                            <span>Yes</span>
                            <div class="vote-list-no"></div>
                            <span>No</span>
                            <div class="vote-list-abstained"></div>
                            <span>Abstained</span>
                            <div class="vote-list-undecided"></div>
                            <span>Undecided</span>
                          </div>
                        </div>
                        <div class="col-lg-3 pb-2">
                          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option selected="">Newest</option>
                            <option value="1">Votes</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="table-responsive">
                            <table class="table" id="proposedProjectsTable">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Title</th>
                                  <th scope="col">Type</th>
                                  <th scope="col">Author</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Votes</th>
                                  <th scope="col">Creation date</th>
                                  <th scope="col">End date</th>
                                  <th scope="col">Approbation date</th>
                                  <th scope="col">Approver</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>Project 1</td>
                                  <td>Technical</td>
                                  <td>werner94fribourg</td>
                                  <td>Approved</td>
                                  <td>
                                    <div>
                                      <div class="vote-percentage-value">50.0%</div>
                                      <div class="vote-percentage-display">
                                        <div class="vote-percentage-abstained"></div>
                                        <div class="vote-percentage-abstained"></div>
                                        <div class="vote-percentage-no"></div>
                                        <div class="vote-percentage-no"></div>
                                        <div class="vote-percentage-no"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-abstained"></div>
                                      </div>
                                    </div>
                                  </td>
                                  <td>21.05.2015</td>
                                  <td>31.07.2016</td>
                                  <td>06.12.2015</td>
                                  <td>salim08</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <br>
            </div>
            <div class="row">
              <div class="accordion" id="accordionMembershipProjects">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headerAccordionMembershipProjects">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneAccordionMembershipProjects" aria-expanded="true" aria-controls="collapseOneAccordionMembershipProjects">
                      Project membership
                    </button>
                  </h2>
                  <div id="collapseOneAccordionMembershipProjects" class="accordion-collapse collapse" aria-labelledby="headerAccordionMembershipProjects" data-bs-parent="#accordionMembershipProjects">
                    <div class="accordion-body">
                      <div class="row align-items-center pb-4">
                        <div class="col-lg-3 pb-2">
                          <h3>All Projects</h3>
                        </div>
                        <div class="vote-explanation col-lg-6 pb-2">
                          <div class="vote-list">
                            <div class="vote-list-yes"></div>
                            <span>Yes</span>
                            <div class="vote-list-no"></div>
                            <span>No</span>
                            <div class="vote-list-abstained"></div>
                            <span>Abstained</span>
                            <div class="vote-list-undecided"></div>
                            <span>Undecided</span>
                          </div>
                        </div>
                        <div class="col-lg-3 pb-2">
                          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option selected="">Newest</option>
                            <option value="1">Votes</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="table-responsive">
                            <table class="table" id="projectMembershipTable">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Title</th>
                                  <th scope="col">Type</th>
                                  <th scope="col">Author</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Votes</th>
                                  <th scope="col">Creation date</th>
                                  <th scope="col">End date</th>
                                  <th scope="col">Approbation date</th>
                                  <th scope="col">Approver</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>Project 1</td>
                                  <td>Technical</td>
                                  <td>werner94fribourg</td>
                                  <td>Approved</td>
                                  <td>
                                    <div>
                                      <div class="vote-percentage-value">50.0%</div>
                                      <div class="vote-percentage-display">
                                        <div class="vote-percentage-abstained"></div>
                                        <div class="vote-percentage-abstained"></div>
                                        <div class="vote-percentage-no"></div>
                                        <div class="vote-percentage-no"></div>
                                        <div class="vote-percentage-no"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-abstained"></div>
                                      </div>
                                    </div>
                                  </td>
                                  <td>21.05.2015</td>
                                  <td>31.07.2016</td>
                                  <td>06.12.2015</td>
                                  <td>salim08</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <br>
            </div>
            <div class="row">
              <div class="accordion" id="accordionFinancedProjects">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headerAccordionFinancedProjects">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneAccordionFinancedProjects" aria-expanded="true" aria-controls="collapseOneAccordionFinancedProjects">
                      Financed projects
                    </button>
                  </h2>
                  <div id="collapseOneAccordionFinancedProjects" class="accordion-collapse collapse" aria-labelledby="headerAccordionFinancedProjects" data-bs-parent="#accordionFinancedProjects">
                    <div class="accordion-body">
                      <div class="row align-items-center pb-4">
                        <div class="col-lg-3 pb-2">
                          <h3>All Projects</h3>
                        </div>
                        <div class="vote-explanation col-lg-6 pb-2">
                          <div class="vote-list">
                            <div class="vote-list-yes"></div>
                            <span>Yes</span>
                            <div class="vote-list-no"></div>
                            <span>No</span>
                            <div class="vote-list-abstained"></div>
                            <span>Abstained</span>
                            <div class="vote-list-undecided"></div>
                            <span>Undecided</span>
                          </div>
                        </div>
                        <div class="col-lg-3 pb-2">
                          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option selected="">Newest</option>
                            <option value="1">Votes</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="table-responsive">
                            <table class="table" id="financedProjectsTable">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Title</th>
                                  <th scope="col">Type</th>
                                  <th scope="col">Author</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Votes</th>
                                  <th scope="col">Creation date</th>
                                  <th scope="col">End date</th>
                                  <th scope="col">Approbation date</th>
                                  <th scope="col">Approver</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>Project 1</td>
                                  <td>Technical</td>
                                  <td>werner94fribourg</td>
                                  <td>Approved</td>
                                  <td>
                                    <div>
                                      <div class="vote-percentage-value">50.0%</div>
                                      <div class="vote-percentage-display">
                                        <div class="vote-percentage-abstained"></div>
                                        <div class="vote-percentage-abstained"></div>
                                        <div class="vote-percentage-no"></div>
                                        <div class="vote-percentage-no"></div>
                                        <div class="vote-percentage-no"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-abstained"></div>
                                      </div>
                                    </div>
                                  </td>
                                  <td>21.05.2015</td>
                                  <td>31.07.2016</td>
                                  <td>06.12.2015</td>
                                  <td>salim08</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
          {% if is_granted('ROLE_ADMIN') and (user_role == 'Admin' or user_role == 'Superadmin') %}
          <div class="tab-pane fade" id="responsabilities" role="tabpanel" aria-labelledby="responsabilities-tab">
            <div class="row">
              <div class="accordion" id="accordionModeratedFAQs">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headeraccordionModeratedFAQs">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneaccordionModeratedFAQs" aria-expanded="true" aria-controls="collapseOneaccordionModeratedFAQs">
                      Moderated FAQs
                    </button>
                  </h2>
                  <div id="collapseOneaccordionModeratedFAQs" class="accordion-collapse collapse" aria-labelledby="headeraccordionModeratedFAQs" data-bs-parent="#accordionModeratedFAQs">
                    <div class="accordion-body">
                      <div class="row align-items-center pb-4">
                        <div class="col-lg-8 pb-2">
                          <h3>All FAQs</h3>
                        </div>
                        <div class="col-lg-4">
                          <select class="form-select form-select-no-form form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option selected="">Newest</option>
                            <option value="1">Most Popular</option>
                            <option value="2">Alphabetically</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="faq-list">
                          <div class="media-card align-items-center">
                            <div class="media-body">
                              <div class="tags pb-1">
                                <a href="#" class="tag-link tag-link-md tag-link-blue">FAQ 1</a>
                              </div>
                              <p class="card-text fs-14 truncate-4 lh-24">
                                For questions regarding programming in ECMAScript (JavaScript/JS) and its various dialects/implementations (excluding ActionScript). Please include all relevant tags on your question; e.g., [node.js],…
                              </p>
                              <div class="d-flex tags-info fs-14 pt-3 border-top mt-3">
                                <p class="lh-18">2177849 questions, 901 asked today, 5319 this week</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <br>
            </div>
            <!--<div class="row">
              <div class="accordion" id="accordionApprovedProjects">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headeraccordionApprovedProjects">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneaccordionApprovedProjects" aria-expanded="true" aria-controls="collapseOneaccordionApprovedProjects">
                      Approved projects
                    </button>
                  </h2>
                  <div id="collapseOneaccordionApprovedProjects" class="accordion-collapse collapse" aria-labelledby="headeraccordionApprovedProjects" data-bs-parent="#accordionApprovedProjects">
                    <div class="accordion-body">
                      <div class="row align-items-center pb-4">
                        <div class="col-lg-3 pb-2">
                          <h3>All Projects</h3>
                        </div>
                        <div class="vote-explanation col-lg-6 pb-2">
                          <div class="vote-list">
                            <div class="vote-list-yes"></div>
                            <span>Yes</span>
                            <div class="vote-list-no"></div>
                            <span>No</span>
                            <div class="vote-list-abstained"></div>
                            <span>Abstained</span>
                            <div class="vote-list-undecided"></div>
                            <span>Undecided</span>
                          </div>
                        </div>
                        <div class="col-lg-3 pb-2">
                          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                            <option selected="">Newest</option>
                            <option value="1">Votes</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="table-responsive">
                            <table class="table" id="approvedProjectsTable">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Title</th>
                                  <th scope="col">Type</th>
                                  <th scope="col">Author</th>
                                  <th scope="col">Status</th>
                                  <th scope="col">Votes</th>
                                  <th scope="col">Creation date</th>
                                  <th scope="col">End date</th>
                                  <th scope="col">Approbation date</th>
                                  <th scope="col">Approver</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>Project 1</td>
                                  <td>Technical</td>
                                  <td>werner94fribourg</td>
                                  <td>Approved</td>
                                  <td>
                                    <div>
                                      <div class="vote-percentage-value">50.0%</div>
                                      <div class="vote-percentage-display">
                                        <div class="vote-percentage-abstained"></div>
                                        <div class="vote-percentage-abstained"></div>
                                        <div class="vote-percentage-no"></div>
                                        <div class="vote-percentage-no"></div>
                                        <div class="vote-percentage-no"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-yes"></div>
                                        <div class="vote-percentage-abstained"></div>
                                      </div>
                                    </div>
                                  </td>
                                  <td>21.05.2015</td>
                                  <td>31.07.2016</td>
                                  <td>06.12.2015</td>
                                  <td>salim08</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-lg-10"></div>
    <div class="col-lg-2">
    {% if app.user and app.user.id == user.id %}
      <input type="button" id="delete-account" class="profile-edit-btn" value="Delete Account">
      <a href="{{path('delete_account', {'id': user.id})}}" id="delete-account-link" hidden></a>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block customjavascripts %}
<script>
  {% if app.user and app.user.id == user.id %}
  $('#delete-account').on('click', function(e){
    e.preventDefault();
    alert('Are you sure ?');
    $('#delete-account-link')[0].click();
  });
  $('#change-password').on('click', function(e){
    e.preventDefault();
    $('#change-password-link')[0].click();
  });
  
  function submitPhotoForm(){
    setTimeout(function(){
      $('form[name=change_profile_picture_form]').submit();
    }, 100);
  }
  {% endif %}
</script>
{% endblock %}