{% extends 'profile/base.html.twig' %}

{% block title %}Forgotten password request{% endblock %}

{% block main %}
  <div class="container-fluid text-center">
    {% for flashError in app.flashes('reset_password_error') %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ flashError }}</strong>
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
    {{ form_start(requestForm, {'attr': {'class': 'form-signin'}}) }}
      <h1 class="mb-3">Type your email address</h1>
      {{ form_widget(requestForm.email, {'attr': {'class': 'form-control mb-3', placeholder: 'Email address'}})}}
      <div class="mb-3">
        <label>
          <a href="{{path('login')}}">Login page</a>
        </label>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-lg btn-primary" type="submit">Send email</button>
      </div>
      <p class="mt-5 mb-3 text-muted"><label>Solid'Ark ®</label> <a href="{{path('index')}}">main page</a></p>
    {{ form_end(requestForm) }}
  </div>
{% endblock %}
