{% extends 'profile/base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block main %}
<div class="container-fluid text-center">
  {% for flashError in app.flashes('reset_password_error') %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{ flashError }}</strong>
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {{ form_start(resetForm, {'attr': {'class': 'form-signin', 'id': 'reset_form'}}) }}
    <h1 class="mb-3">Reset your password</h1>
    <div class="mb-3">
      {{ form_widget(resetForm.password.first, {'attr': {'class': 'form-control', placeholder: 'Password'}})}}
      <div id="password_first_error" class="invalid-feedback">
          {{form_errors(resetForm.password.first)}}
      </div>
    </div>
    <div class="mb-3">
      {{ form_widget(resetForm.password.second, {'attr': {'class': 'form-control', placeholder: 'Confirm Password'}})}}
      <div id="password_second_error" class="invalid-feedback">
          {{form_errors(resetForm.password.second)}}
      </div>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-lg btn-primary" type="submit">Reset password</button>
    </div>
  {{ form_end(resetForm) }}
</div>
{% endblock %}

{% block customprofilejavascripts %}
{{parent()}}
{% if validated %}
<script type="text/javascript">
  var z= document.getElementsByName("change_password_form")[0];
  z.classList.add("was-validated");
</script>
{% endif %}
{% endblock %}