{% extends 'faq/base.html.twig' %}
{% if app.session.flashbag.peek('new_question_error')|length > 0 %}
  {% set newQuestionAttempt = true %}
{% else %}
  {% set newQuestionAttempt = false %}
{% endif %}

{% block title %}FAQ main page{% endblock %}

{% block main %}
  {% for error in app.flashes('faq_error') %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{ error }}</strong>
      <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
  {% for error in app.flashes('new_question_error') %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{ error }}</strong>
      <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
  {% for flashSuccess in app.flashes('new_question_success') %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ flashSuccess }}</strong>
      <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
  {{parent()}}
{% endblock %}

{% block faqcontent %}
  <ul class="nav nav-faq justify-content-center mb-3">
    <li class="nav-item">
      <a class="nav-link active" id="questions-tab" data-bs-toggle="tab" href="#questions" role="tab" aria-controls="questions" aria-selected="true">Questions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tags-tab" data-bs-toggle="tab" href="#tags" role="tab" aria-controls="tags" aria-selected="false">FAQs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="users-tab" data-bs-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">Users</a>
    </li>
  </ul>
  <div class="tab-content pt-40px" id="myTabContent">
    <div class="tab-pane fade active show" id="questions" role="tabpanel" aria-labelledby="questions-tab">
      <div class="row align-items-center pb-4">
        <div class="col-lg-10">
          <h3>All Questions</h3>
        </div>
        <div class="col-lg-2">
            {% if is_granted('ROLE_USER') %}
              <a type="button" id="question_form_button" class="form-button" data-bs-toggle="modal" data-bs-target="#question_form_modal"><span class="glyphicon glyphicon-plus"></span></a>
              <div class="modal fade" id="question_form_modal" tabindex="-1" aria-labelledby="question_form_button" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="question_form_label">New question</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      {{form_start(questionForm, {'attr': {'class': 'needs-validation', 'id': 'question_form'}})}}
                        <div class="mb-3">
                          <label for="question_form_title" class="form-label">Title</label>
                          {{form_widget(questionForm.title, {'attr': {'class': 'form-control'}})}}
                          <div id="question_form_title_error" class="invalid-feedback">
                            {{form_errors(questionForm.title)}}
                          </div>
                        </div>
                        <div class="mb-3">
                          <label for="question_form_content" class="form-label">Content</label>
                          {{form_widget(questionForm.content, {'attr': {'class': 'form-control'}})}}
                          <div id="content_error" class="invalid-feedback">
                            {{form_errors(questionForm.content)}}
                          </div>
                        </div>
                        <div class="mb-3">
                          <label for="question_form_belongingFAQs" class="form-label">Belongings FAQS</label>
                          <br>
                          <div id="question_form_belongingFAQs">
                            {% for checkbox in questionForm.belongingFAQs.children %}
                              <div class="form-check form-check-inline">
                                {{form_widget(checkbox, {'attr': {'class': 'form-check-input'}})}}
                                {{form_label(checkbox, null, {'label_attr': {'class': 'form-check-label'}})}}
                              </div>
                            {% endfor %}
                          </div>
                          {#{{form_widget(questionForm.belongingFAQs, {'attr': {'class': 'form-check-inline'}, 'label_attr': {'class':'form-check-label'}})}}#}
                          <div id="question_form_belongingFAQs_error" class="invalid-feedback">
                            {{form_errors(questionForm.belongingFAQs)}}
                          </div>
                        </div>
                      {{form_end(questionForm)}}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" form="question_form" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="question-list col-lg-12">
          {% for question in questions %}
            <div id="question-{{question.id}}" class="media-card align-items-center">
              <div class="votes">
                <div class="vote-block d-flex align-items-center justify-content-between" title="Votes">
                  {% set votes_count = question.likingUsers|length - question.dislikingUsers|length %}
                  {% if votes_count >= 0 %}
                    <span class="vote-counts up ">{{votes_count}}</span>
                    <span class="vote-icon"><span class="glyphicon glyphicon-thumbs-up"></span></span>
                  {% else %}
                    <span class="vote-counts down">{{votes_count|abs}}</span>
                    <span class="vote-icon"><span class="glyphicon glyphicon-thumbs-down"></span></span>
                  {% endif %}
                </div>
                <div class="answer-block d-flex align-items-center justify-content-between" title="Answers">
                  <span class="vote-counts">{{question.answers|length}}</span>
                  <span class="answer-icon"></span>
                </div>
              </div>
              <div class="media-body">
                <h5><a href="{{path('question', {'id': question.id})}}">{{question.title}}</a></h5>
                <small class="meta">
                  <span class="pr-1">{{question.creationDate|ago}}</span>
                  <a href="{{path('profile', {'id': question.creator.id})}}" class="author">{{question.creator.username}}</a>
                </small>
                <div class="tags">
                  {% for belongingFaq in question.belongingFAQs %}
                    <a href="{{path('faq', {'id': belongingFaq.id})}}" class="tag-link">{{belongingFaq.name}}</a>
                  {% endfor %}
                </div>
                {% if is_granted('ROLE_SUPERADMIN') %}
                  <hr>
                  <div class="row mb-4">
                    <div class="col-lg-8"></div>
                    <div class="col-lg-4 mb-2">
                      <a id="questionDeleteButton" class="form-button" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                      <button type="button" id="assignFaqButton" class="btn btn-primary form-button mb-2" data-bs-toggle="modal" data-bs-target="#assignFaqModal">FAQ</button>
                      <div class="modal fade" id="assignFaqModal" tabindex="-1" aria-labelledby="assignFaqButton" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="questionModalLabel">New Assignment</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form id="faqForm" class="needs-validation" novalidate>
                                <div class="mb-3">
                                  <label for="assignment" class="form-label">Assignment</label>
                                  <select id="assignment" class="form-select">
                                    <option selected value="1">FAQ 1</option>
                                    <option value="2">FAQ 2</option>
                                    <option value="3">FAQ 3</option>
                                  </select>
                                </div>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="submit" form="faqForm" class="btn btn-primary">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div><!-- end tab-pane -->
    <div class="tab-pane fade" id="tags" role="tabpanel" aria-labelledby="tags-tab">
      <div class="row align-items-center pb-4">
        <div class="col-lg-10">
          <h3>All FAQs</h3>
        </div>
        <div class="col-lg-2">
          {% if is_granted('ROLE_USER') %}
            <a type="button" id="faqButton" class="form-button" data-bs-toggle="modal" data-bs-target="#faqModal"><span class="glyphicon glyphicon-plus"></span></a>
            <div class="modal fade" id="faqModal" tabindex="-1" aria-labelledby="faqButton" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="questionModalLabel">New FAQ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form id="faqForm" class="needs-validation" novalidate>
                      <div class="mb-3">
                        <label for="title" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" required />
                        <div id="name_error" class="invalid-feedback">Name error message.</div>
                      </div>
                      <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" rows="4" required=""></textarea>
                        <div id="description_error" class="invalid-feedback">Description error message.</div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="faqForm" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="faq-list col-lg-12">
          <div class="media-card align-items-center">
            <div class="media-body">
              <div class="tags pb-1">
                <a href="#" class="tag-link tag-link-md tag-link-blue">FAQ 1</a>
              </div>
              <p class="card-text fs-14 truncate-4 lh-24">
                For questions regarding programming in ECMAScript (JavaScript/JS) and its various dialects/implementations (excluding ActionScript). Please include all relevant tags on your question; e.g., [node.js],…
              </p>
              <div class="d-flex tags-info fs-14 pt-3 border-top mt-3">
                <p class="lh-18">2177849 questions, 901 asked today, 5319 this week</p>
              </div>
              <div class="row mb-4">
                <div class="col-lg-10"></div>
                <div class="col-lg-2">
                  <a id="faqDeleteButton" class="form-button" href="#"><span class="glyphicon glyphicon-trash"></span></a>
                  <a type="button" id="modifyFaqButton" class="form-button" data-bs-toggle="modal" data-bs-target="#modifyFaqModal"><span class="glyphicon glyphicon-pencil"></span></a>
                  <div class="modal fade" id="modifyFaqModal" tabindex="-1" aria-labelledby="modifyFaqButton" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="questionModalLabel">Modify FAQ</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form id="modifyFaqForm" class="needs-validation" novalidate="">
                            <div class="mb-3">
                              <label for="title" class="form-label">Name</label>
                              <input type="text" class="form-control" id="name" required="">
                              <div id="name_error" class="invalid-feedback">Name error message.</div>
                            </div>
                            <div class="mb-3">
                              <label for="description" class="form-label">Description</label>
                              <textarea class="form-control" id="description" rows="4" required=""></textarea>
                              <div id="description_error" class="invalid-feedback">Description error message.</div>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" form="modifyFaqForm" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end tab-pane -->
    <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
      <div class="row align-items-center pb-4">
        <div class="col-lg-10">
          <h3>All users</h3>
        </div>
        <div class="col-lg-2">
        </div>
      </div>
      <div class="row">
        <div class="user-list col-lg-12">
          <div class="media media-card p-3">
            <a href="#" class="media-img d-inline-block">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="company logo">
            </a>
            <div class="media-body">
              <h5 class="fs-16 fw-medium"><a href="profile.html">werner94fribourg</a></h5>
              <p class="meta d-block lh-24 pb-1"><span>Informatician</span></p>
              <p class="fw-medium fs-15 text-black-50 lh-18">1,200 questions asked</p>
            </div><!-- end media-body -->
          </div>
        </div>
      </div><!-- end tab-pane -->
    </div><!-- end tab-content -->
  </div>
{% endblock %}

{% block customfaqjavascripts %}
  {{parent()}}
  <script>
    {% if newQuestionAttempt %}
      document.getElementById("question_form").classList.add("was-validated");
      $('#question_form_button')[0].click();
    {% endif %}
  </script>
{% endblock %}