{% extends 'faq/base.html.twig' %}
{% if app.session.flashbag.peek('question_error')|length > 0 %}
  {% set modifyQuestionAttempt = true %}
{% else %}
  {% set modifyQuestionAttempt = false %}
{% endif %}

{% block title %}Question{% endblock %}

{% block main %}
  {% for error in app.flashes('question_error') %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{ error }}</strong>
      <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
  {% for flashSuccess in app.flashes('question_success') %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ flashSuccess }}</strong>
      <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
  {{parent()}}
{% endblock %}

{% block faqcontent %}
  <div class="row">
    <div class="media-card align-items-center">
      <div class="votes">
        <div class="vote-block d-flex align-items-center justify-content-between" title="Votes">
          <span class="vote-counts up">{{question.likingUsers|length}}</span>
          <span class="vote-icon"><span class="glyphicon glyphicon-thumbs-up"></span></span>
        </div>
        <div class="answer-block d-flex align-items-center justify-content-between" title="Answers">
          <span class="vote-counts down">{{question.dislikingUsers|length}}</span>
          <span class="vote-icon down"><span class="glyphicon glyphicon-thumbs-down"></span></span>
        </div>
      </div>
      <div class="media-body">
        <h5><a href="{{path('question', {'id': question.id})}}">{{question.title}}</a></h5>
        <small class="meta">
          <span class="pr-1">{{question.creationDate|ago}}</span>
          <a href="{{path('profile', {'id': question.creator.id})}}" class="author">{{question.creator.username}}</a>
        </small>
        <div class="tags">
          {% for belongingFaq in question.belongingFAQs %}
            <a href="{{path('faq', {'id': belongingFaq.id})}}" class="tag-link">{{belongingFaq.name}}</a>
          {% endfor %}
        </div>
        <hr>
        <div class="question-content">
          <div class="question-post-body">
            {{question.content}}
          </div>
        </div>
        {% if is_granted('ROLE_SUPERADMIN') or (app.user != null and (app.user.id == question.creator.id or (hasAdminRightToDeleteQuestion))) %}
          <div class="row mb-4">
            <div class="col-lg-10"></div>
            <div class="col-lg-2">
              <a class="form-button delete_question" href="{{path('delete_question', {'id': question.id})}}" onclick="alert('Are you sure ?');"><span class="glyphicon glyphicon-trash"></span></a>
              {% if app.user.id == question.creator.id %}
                <a type="button" id="question_form_button" class="form-button" data-bs-toggle="modal" data-bs-target="#question_form_modal"><span class="glyphicon glyphicon-pencil"></span></a>
                <div class="modal fade" id="question_form_modal" tabindex="-1" aria-labelledby="question_form_button" style="display: none;" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="faq_form_label">Modify Question</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        {{form_start(questionForm, {'attr': {'class': 'needs-validation', 'id': 'question_form'}})}}
                          <div class="mb-3">
                            <label for="question_form_title" class="form-label">Title</label>
                            {{form_widget(questionForm.title, {'attr': {'class': 'form-control'}})}}
                            <div id="question_form_title_error" class="invalid-feedback">
                              {{form_errors(questionForm.title)}}
                            </div>
                          </div>
                          <div class="mb-3">
                            <label for="question_form_content" class="form-label">Content</label>
                            {{form_widget(questionForm.content, {'attr': {'class': 'form-control'}})}}
                            <div id="content_error" class="invalid-feedback">
                              {{form_errors(questionForm.content)}}
                            </div>
                          </div>
                          <div class="mb-3">
                            <label for="question_form_belongingFAQs" class="form-label">Belongings FAQS</label>
                            <br>
                            <div id="question_form_belongingFAQs">
                              {% for checkbox in questionForm.belongingFAQs.children %}
                                <div class="form-check form-check-inline">
                                  {{form_widget(checkbox, {'attr': {'class': 'form-check-input'}})}}
                                  {{form_label(checkbox, null, {'label_attr': {'class': 'form-check-label'}})}}
                                </div>
                              {% endfor %}
                            </div>
                            {#{{form_widget(questionForm.belongingFAQs, {'attr': {'class': 'form-check-inline'}, 'label_attr': {'class':'form-check-label'}})}}#}
                            <div id="question_form_belongingFAQs_error" class="invalid-feedback">
                              {{form_errors(questionForm.belongingFAQs)}}
                            </div>
                          </div>
                        {{form_end(questionForm)}}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" form="question_form" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row mb-4 mt-2">
    <div class="col-lg-10">
      <h5 class="h3">Answers</h5>
    </div>
    <div class="col-lg-2">
      <a type="button" id="answerButton" class="form-button" data-bs-toggle="modal" data-bs-target="#answerModal"><span class="glyphicon glyphicon-plus"></span></a>
      <div class="modal fade" id="answerModal" tabindex="-1" aria-labelledby="answerButton" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New answer</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="answerForm" class="register-form needs-validation" novalidate>
                <div class="mb-3">
                  <label for="content" class="form-label">Content</label>
                  <textarea class="form-control" id="content" rows="4" required></textarea>
                  <div id="content_error" class="invalid-feedback">Content error message.</div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" form="answerForm" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="answer-list">
    <div class="row">
      <div class="media-card align-items-center">
        <div class="votes">
          <div class="vote-block d-flex align-items-center justify-content-between" title="Votes">
            <span class="vote-counts up">0</span>
            <span class="vote-icon"><span class="glyphicon glyphicon-thumbs-up"></span></span>
          </div>
          <div class="answer-block d-flex align-items-center justify-content-between" title="Answers">
            <span class="vote-counts down">0</span>
            <span class="vote-icon down"><span class="glyphicon glyphicon-thumbs-down"></span></span>
          </div>
        </div>
        <div class="media-body">
          <h5><a href="#">werner94fribourg</a></h5>
          <small class="meta">
            <span class="pr-1">1 hour ago</span>
          </small>
          <hr>
          <div class="answer-content">
            First answer
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block customfaqjavascripts %}
  {{parent()}}
  <script>
    {% if modifyQuestionAttempt %}
      document.getElementById("question_form").classList.add("was-validated");
      $('#question_form_button')[0].click();
    {% endif %}
  </script>
{% endblock %}