{% extends 'faq/base.html.twig' %}
{% if app.session.flashbag.peek('question_error')|length > 0 %}
  {% set modifyQuestionAttempt = true %}
{% else %}
  {% set modifyQuestionAttempt = false %}
{% endif %}
{% if app.session.flashbag.peek('new_answer_error')|length > 0 %}
  {% set newAnswerAttempt = true %}
{% else %}
  {% set newAnswerAttempt = false %}
{% endif %}

{% block title %}Question{% endblock %}

{% block main %}
  {% for error in app.flashes('question_error') %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{ error }}</strong>
      <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
  {% for flashSuccess in app.flashes('question_success') %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ flashSuccess }}</strong>
      <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
  {% for error in app.flashes('new_answer_error') %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{ error }}</strong>
      <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
  {% for flashSuccess in app.flashes('new_answer_success') %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ flashSuccess }}</strong>
      <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
  {{parent()}}
{% endblock %}

{% block faqcontent %}
  <div class="row">
    <div class="media-card align-items-center">
      <div class="votes">
        <div class="vote-block d-flex align-items-center justify-content-between" title="Votes">
          <span id="question-vote-like" class="question-vote-like vote-counts up" data-url="{{path('check_liking_question', {'id':question.id})}}">{{question.likingUsers|length}}</span>
          <span class="vote-icon">{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}<a class="glyphicon glyphicon-thumbs-up" href="{{path('like_question', {'id': question.id})}}"></a>{% else %}<span class="glyphicon glyphicon-thumbs-up"></span>{% endif %}</span>
        </div>
        <div class="answer-block d-flex align-items-center justify-content-between" title="Answers">
          <span id="question-vote-dislike" class="question-vote-dislike vote-counts down" data-url="{{path('check_liking_question', {'id':question.id})}}">{{question.dislikingUsers|length}}</span>
          <span class="vote-icon down">{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}<a class="glyphicon glyphicon-thumbs-down" href="{{path('dislike_question', {'id': question.id})}}"></a>{% else %}<span class="glyphicon glyphicon-thumbs-down"></span>{% endif %}</span>
        </div>
      </div>
      <div class="media-body">
        <h5><a href="{{path('question', {'id': question.id})}}">{{question.title}}</a></h5>
        <small class="meta">
          <span class="pr-1">{{question.creationDate|ago}}</span>
          <a href="{{path('profile', {'id': question.creator.id})}}" class="author">{{question.creator.username}}</a>
        </small>
        <div class="tags">
          {% for belongingFaq in question.belongingFAQs %}
            <a href="{{path('faq', {'id': belongingFaq.id})}}" class="tag-link">{{belongingFaq.name}}</a>
          {% endfor %}
        </div>
        <hr>
        <div class="question-content">
          <div class="question-post-body">
            {{question.content}}
          </div>
        </div>
        {% if is_granted('ROLE_SUPERADMIN') or (app.user != null and (app.user.id == question.creator.id or (hasAdminRightToDeleteQuestion))) %}
          <div class="row mb-4">
            <div class="col-lg-10"></div>
            <div class="col-lg-2">
              <a class="form-button delete_question" href="{{path('delete_question', {'id': question.id})}}" onclick="alert('Are you sure ?');"><span class="glyphicon glyphicon-trash"></span></a>
              {% if app.user.id == question.creator.id %}
                <a type="button" id="question_form_button" class="form-button" data-bs-toggle="modal" data-bs-target="#question_form_modal"><span class="glyphicon glyphicon-pencil"></span></a>
                <div class="modal fade" id="question_form_modal" tabindex="-1" aria-labelledby="question_form_button" style="display: none;" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="faq_form_label">Modify Question</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        {{form_start(questionForm, {'attr': {'class': 'needs-validation', 'id': 'question_form'}})}}
                          <div class="mb-3">
                            <label for="question_form_title" class="form-label">Title</label>
                            {{form_widget(questionForm.title, {'attr': {'class': 'form-control'}})}}
                            <div id="question_form_title_error" class="invalid-feedback">
                              {{form_errors(questionForm.title)}}
                            </div>
                          </div>
                          <div class="mb-3">
                            <label for="question_form_content" class="form-label">Content</label>
                            {{form_widget(questionForm.content, {'attr': {'class': 'form-control'}})}}
                            <div id="content_error" class="invalid-feedback">
                              {{form_errors(questionForm.content)}}
                            </div>
                          </div>
                          <div class="mb-3">
                            <label for="question_form_belongingFAQs" class="form-label">Belongings FAQS</label>
                            <br>
                            <div id="question_form_belongingFAQs">
                              {% for checkbox in questionForm.belongingFAQs.children %}
                                <div class="form-check form-check-inline">
                                  {{form_widget(checkbox, {'attr': {'class': 'form-check-input'}})}}
                                  {{form_label(checkbox, null, {'label_attr': {'class': 'form-check-label'}})}}
                                </div>
                              {% endfor %}
                            </div>
                            {#{{form_widget(questionForm.belongingFAQs, {'attr': {'class': 'form-check-inline'}, 'label_attr': {'class':'form-check-label'}})}}#}
                            <div id="question_form_belongingFAQs_error" class="invalid-feedback">
                              {{form_errors(questionForm.belongingFAQs)}}
                            </div>
                          </div>
                        {{form_end(questionForm)}}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" form="question_form" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row mb-4 mt-2">
    <div class="col-lg-10">
      <h5 class="h3">Answers</h5>
    </div>
    <div class="col-lg-2">
      {% if is_granted('ROLE_USER') %}
        <a type="button" id="answer_form_button" class="form-button" data-bs-toggle="modal" data-bs-target="#answer_form_modal"><span class="glyphicon glyphicon-plus"></span></a>
        <div class="modal fade" id="answer_form_modal" tabindex="-1" aria-labelledby="answer_form_button" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="answer_form_label">New answer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {{form_start(answerForm, {'attr': {'class': 'needs-validation', 'id': 'answer_form'}})}}
                  <div class="mb-3">
                    <label for="answer_form_content" class="form-label">Content</label>
                    {{form_widget(answerForm.content, {'attr': {'class': 'form-control'}})}}
                    <div id="answer_form_content_error" class="invalid-feedback">
                      {{form_errors(answerForm.content)}}
                    </div>
                  </div>
                {{form_end(answerForm)}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="answer_form" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <hr>
  <div class="answer-list">
    {% for answer in question.answers %}
      <div class="row">
        <div id="question-{{answer.id}}" class="media-card align-items-center">
          <div class="votes">
            <div class="vote-block d-flex align-items-center justify-content-between" title="Votes">
              <span class="answer vote-counts up">{{answer.likingUsers|length}}</span>
              <span class="vote-icon"><span class="glyphicon glyphicon-thumbs-up"></span></span>
            </div>
            <div class="answer-block d-flex align-items-center justify-content-between" title="Answers">
              <span class="answer vote-counts down">{{answer.dislikingUsers|length}}</span>
              <span class="vote-icon down"><span class="glyphicon glyphicon-thumbs-down"></span></span>
            </div>
          </div>
          <div class="media-body">
            <h5><a href="#">{{answer.editor.username}}</a></h5>
            <small class="meta">
              <span class="pr-1">{{answer.creationDate|ago}}</span>
            </small>
            <hr>
            <div class="answer-content">
              {{answer.content}}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
{% block customfaqjavascripts %}
  {{parent()}}
  <script>
    $('.question-vote-like').each(function(){
      var $url = $(this).attr('data-url');
      var tag = $(this);
      if($url !== undefined)
      {
        $.ajax({
          method: 'POST',
          url: $url
        }).done(function(data){
          if(data.like == 'true')
            tag.attr('style', 'text-decoration:underline;');
        })
      }
    });
    $('.question-vote-dislike').each(function(){
      var $url = $(this).attr('data-url');
      var tag = $(this);
      if($url !== undefined)
      {
        $.ajax({
          method: 'POST',
          url: $url
        }).done(function(data){
          if(data.dislike == 'true')
            tag.attr('style', 'text-decoration:underline;');
        })
      }
    });
    {% if newAnswerAttempt %}
      document.getElementById("answer_form").classList.add("was-validated");
      $('#answer_form_button')[0].click();
    {% endif %}
    {% if modifyQuestionAttempt %}
      document.getElementById("question_form").classList.add("was-validated");
      $('#question_form_button')[0].click();
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
      $('.glyphicon-thumbs-up').click(function(e){
          e.preventDefault();
          var url = $(this).attr('href');
          $.ajax({
            method: 'POST',
            url: url
          }).done(function(data){
              var val = parseInt($('#question-vote-like').html().replace(/[^0-9]/g,''));
              var result = data.action;
              if(result == 'liked')
              {
                val++;
                $('#question-vote-like').html(val);
                $('#question-vote-like').attr('style', 'text-decoration:underline;');
                if($('#question-vote-dislike')[0].hasAttribute('style'))
                {
                  var val = parseInt($('#question-vote-dislike').html().replace(/[^0-9]/g,''));
                  val--;
                  $('#question-vote-dislike').html(val);
                  $('#question-vote-dislike').removeAttr('style');
                }
              }
              else if(result == 'unliked')
              {
                val--;
                $('#question-vote-like').html(val);
                $('#question-vote-like').removeAttr('style');
              }
            }
          )
        }
      )
      $('.glyphicon-thumbs-down').click(function(e){
          e.preventDefault();
          var url = $(this).attr('href');
          $.ajax({
            method: 'POST',
            url: url
          }).done(function(data){
              var val = parseInt($('#question-vote-dislike').html().replace(/[^0-9]/g,''));
              var result = data.action;
              if(result == 'disliked')
              {
                val++;
                $('#question-vote-dislike').html(val);
                $('#question-vote-dislike').attr('style', 'text-decoration:underline;');
                if($('#question-vote-like')[0].hasAttribute('style'))
                {
                  var val = parseInt($('#question-vote-like').html().replace(/[^0-9]/g,''));
                  val--;
                  $('#question-vote-like').html(val);
                  $('#question-vote-like').removeAttr('style');
                }
              }
              else if(result == 'undodisliked')
              {
                val--;
                $('#question-vote-dislike').html(val);
                $('#question-vote-dislike').removeAttr('style');
              }
            }
          )
        }
      )
    {% endif %}
  </script>
{% endblock %}